/* RESET */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Akatab', sans-serif;
}

img {
    max-width: 100%;
}

.bug {
    border: 1px solid red;
}


/* LAYOUT */

.container {
    margin: 0 auto;
    max-width: 100%;

}

li {
    list-style-type: none;

}

a {
    text-decoration: none;
    font-size: .9rem;

}

.card {
    height: 150px;
}


/* SECTIONS */

/* header */

nav {
    background-color: #0084fd;
    min-height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

nav i {
    color: white;
    font-size: 2rem;
}

nav img {
    height: 100%;
}

nav li {
    display: none;
}

/* intro */

#intro {
    padding: 2.5rem 1.5rem;
}

#intro .col {
    padding: .5rem .5rem;
}

#intro .card {
    background-color: #b5ddff;
    border-radius: 1rem;
}




/* plan */

#plan {
    background-color: #9792e4;
    padding: 3rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#plan .card {
    border-radius: 2rem;
}

#plan .card:last-child {
    background-color: white;


}


/* partner */

#partner {
    padding: 4rem 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#partner h1 {
    word-spacing: .18rem;
    letter-spacing: .05rem;
    line-height: 2.5rem;
    color: #9792e4;
    font-weight: 900;
}

#partner .card {
    background-color: #9792e4;
    border-radius: 2rem;


}

#partner h3 {
    line-height: 1.8rem;
    word-spacing: .25rem;
    padding: 0 2rem;
    font-weight: lighter;
    padding-bottom: 1rem;

}



/* RESPONSIVE */



@media screen and (min-width:576px) {




    /*header*/


    nav {
        background-color: red;
    }

    .fa-bars {
        display: none;
    }

    nav li {
        display: inline;

    }

    nav a {

        color: white;
        padding: .5rem;
        margin-left: 1rem;
    }

    nav li:last-child a {
        color: black;
        background-color: white;
        border-radius: 1rem;
        padding: .5rem 1rem;
    }




    /*cards*/


    #intro {
        display: flex;
        flex-wrap: wrap;
    }

    #intro .col:first-child {
        width: calc(100% / 3 *2);
    }

    #intro .col {
        width: calc(100% / 3);
    }


    /*plan*/

    #plan {
        flex-direction: row;
        justify-content: flex-end;

    }

    #plan .card {
        width: 50%;
    }



}

/*chiusura media q*/