/* RESET */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

img {
    max-width: 100%;
}

.bug {
    border: 1px solid red;
}

li {
    list-style-type: none;

}

a {
    text-decoration: none;
    font-size: .9rem;

}

.card {
    border-radius: 1rem;
    height: 150px;
}


/* LAYOUT */

.container {
    margin: 0 auto;
    max-width: 100%;

}



/* SECTIONS */

/* header */

nav {
    background-color: #0084fd;
    min-height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

nav i {
    color: white;
    font-size: 2rem;
}

nav img {
    height: 100%;
}

nav li {
    display: none;
}

/* intro */

#intro {
    padding: 2.5rem 1.5rem;
}

#intro .col {
    padding: .5rem .5rem;
}

#intro .card {
    background-color: #b5ddff;


}




/* plan */

#plan {
    background-color: #9792e4;

}


#plan>div {
    padding: 3rem 2rem;
}

#plan .card:first-child {}

#plan .card:last-child {
    background-color: white;
    margin-top: 1rem;
}



/* RESPONSIVE */



@media screen and (min-width:576px) {




    /*header*/


    nav {
        background-color: red;
    }

    .fa-bars {
        display: none;
    }

    nav li {
        display: inline;

    }

    nav a {

        color: white;
        padding: .5rem;
        margin-left: 1rem;
    }

    nav li:last-child a {
        color: black;
        background-color: white;
        border-radius: 1rem;
        padding: .5rem 1rem;
    }




    /*cards*/


    #intro {
        display: flex;
        flex-wrap: wrap;
    }

    #intro .col:first-child {
        width: calc(100% / 3 *2);
    }

    #intro .col {
        width: calc(100% / 3);
    }






}