/* RESET */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Akatab', sans-serif;
    color: #5a6e7f;
}

img {
    max-width: 100%;
}

.bug {
    border: 1px solid red;
}


button {
    background-color: transparent;
    border: none;

}

a {
    text-decoration: none;
    font-size: .9rem;

}

/* LAYOUT */

.container {
    margin: 0 auto;
    max-width: 100%;

}

li {
    list-style-type: none;

}

.card {
    min-height: 150px;
}

.bg-violet {
    background-color: #9792e4;

}

h1 {
    font-weight: 900;
    font-size: 3rem;
}

/* SECTIONS */

/* header */

header {
    background-color: #0084fd;

}

nav {
    min-height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;

}

nav i {
    color: white;
    font-size: 2rem;
}

nav img {
    height: 100%;
}

nav li {
    display: none;
}

/* intro */

#intro {
    padding: 2.5rem 1.5rem;
}

#intro .col {
    padding: 1rem .5rem;
}

#intro .card {
    background-color: #b5ddff;
    border-radius: 1rem;
    padding: 2rem 2rem;
    text-align: center;
    height: 100%;
}


#intro h3 {
    color: #0084fd;
    text-align: center;
    padding-bottom: 2rem;
    font-size: 1.6rem;
    font-weight: 800;
}

#intro i {
    color: #0084fd;
    font-size: 5rem;
    padding-bottom: 2rem;

}

#intro p {
    line-height: 1.6rem;
    font-weight: 700;
}


#intro .col:first-child .card {
    text-align: start;
    padding-bottom: 0;
}

#intro .col:first-child h3 {
    text-align: start;

}


#intro .col:first-child p {
    padding-bottom: 2rem;
}

#intro .col:first-child button a {
    background-color: #0084fd;
    color: white;
    padding: .6rem 3rem;
    border-radius: 2rem;
    font-weight: 600;
    letter-spacing: .15rem;
}

#intro .fa-apple {
    color: white;
    font-size: 1rem;
}

#intro img {
    display: block;
}


/* plan */

#plan {
    background-color: #9792e4;
    padding: 4rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#plan .card {
    border-radius: 3rem;
}


#plan .card:first-child {
    color: white;
}

#plan h2 {
    font-weight: 800;
    font-size: 2rem;
    padding: 2rem 0;
}

#plan p {
    line-height: 1.7rem;
}


#plan .card:last-child {
    background-color: white;
    color: black;
    text-align: center;
    padding: 2rem;
}

#plan .card:last-child h3 {
    padding: 1.5rem 0;
    font-size: 1.5rem;
    font-weight: 800;
}

#plan .card:last-child p {
    font-style: italic;
    padding-bottom: 2rem;

}

#plan .fa-arrow-down {
    background-color: #9792e4;
    padding: 1rem;
    border-radius: 50%;
}


/* partner */

#partner {
    padding: 4rem 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#partner h1 {

    line-height: 3.5rem;
    color: #9792e4;

}

#partner .card {
    background-color: #9792e4;
    border-radius: 3rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    color: white;
    padding: 2rem 0;


}

#partner h3 {
    line-height: 1.8rem;
    word-spacing: .25rem;
    padding: 0 2rem;
    font-weight: lighter;
    padding-bottom: 1rem;


}

#partner .card img {
    width: 200px;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

#partner .card h3 {
    font-weight: lighter;
}

#partner h3 span:first-child {
    display: inline-block;
    transform: rotate(180deg) translate(5px, -15px);
}

#partner span {
    font-weight: 800;
    font-size: 2.5rem;
    line-height: .5rem;
}

#partner .card p {
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: .2rem;
    font-size: 1.1rem;

}


/* benefits */

#benefits {
    background-color: #9792e4;
    padding: 2rem;
}

#benefits h1 {
    color: white;
    text-align: center;

}

#benefits .row {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem 0;
}

#benefits .card {
    background-color: white;
    border-radius: 2rem;
    padding: 2rem;
    text-align: start;
}

#benefits .card h1 {
    color: #9792e4;
    text-align: start;
    font-size: 4rem;
}

#benefits .card h2 {
    color: #9792e4;
    padding: 1rem 0;
}

#benefits .card p {
    line-height: 1.6rem;
}

#benefits .card button {
    padding: 2rem 0 1rem;
}

#benefits .card button a {
    background-color: #9792e4;
    padding: .5rem 2.8rem;
    border-radius: 2rem;
    color: white;
    font-weight: 800;
}




/*about us*/

#about-us {
    padding: 2rem;
}

#about-us h1,
#about-us h2 {
    color: #9792e4;
    font-weight: 900;
    padding-bottom: 2rem;
}



#about-us p {
    line-height: 2rem;
    padding-bottom: 2rem;
}



#about-us img {
    width: 200px;
    aspect-ratio: 1/1;
    border-radius: 50%;

}


#about-us span {
    color: #9792e4;
    font-size: 8rem;
    display: inline-block;
    transform: rotate(180deg) translate(70px, 80px);
    font-weight: 900;
}

#about-us button {
    border: none;
    background-color: #9792e4;
    border-radius: 2rem;
}

#about-us button a {
    color: white;
    padding: .5rem 1rem;
    display: inline-block;

}












/* RESPONSIVE */



/* tablet************************************************************************************ */

@media screen and (min-width:576px) {

    /*header*/

    nav {
        background-color: greenyellow;
    }

    /*intro*/

    #intro {
        display: flex;
        flex-wrap: wrap;
    }

    #intro .col:first-child {
        width: calc((100%)/ 3 * 2);
    }

    #intro .col {
        width: calc((100%)/ 3);
    }

    /*plan*/

    #plan h2 {
        font-size: 3rem;
    }


    /*partner*/

    #partner .card {
        flex-direction: row;
        padding: 2rem 1rem;
        text-align: start;
    }

    #partner .card p {
        padding-left: 2rem;
        padding-top: 1rem;
    }


    /*benefits*/

    #benefits .row {
        flex-direction: row;
        flex-wrap: wrap;

    }


    #benefits .card {
        width: calc(50% - 1rem);
    }



}




/* desktop******************************************************************************* */


@media screen and (min-width:992px) {

    /*header*/

    .container {
        max-width: 1000px;
    }

    nav {
        background-color: red;
    }

    .fa-bars {
        display: none;
    }

    nav li {
        display: inline;

    }

    nav a {

        color: white;
        padding: .5rem;
        margin-left: 1rem;
    }

    nav li:last-child a {
        color: black;
        background-color: white;
        border-radius: 1rem;
        padding: .5rem 1rem;
    }


    /*intro*/


    #intro {
        display: flex;
        flex-wrap: wrap;
    }

    #intro .col:first-child {
        width: calc(100% / 3 *2);
    }

    #intro .col {
        width: calc(100% / 3);
    }

    #intro .col:first-child .card {
        display: flex;
        padding-bottom: 0;
    }


    /*plan*/
    /*da vedere*/

    #plan {
        flex-direction: row;
        justify-content: flex-end;
        padding: 10rem 3rem 3rem;
    }

    #plan .card {
        width: 50%;

    }


    /*partner - same tablet*/



    /*benefits*/

    #benefits .row {
        flex-direction: row;
        flex-wrap: wrap;

    }


    #benefits .card {
        width: calc((100% - 4rem) / 3);
    }


    /*about us*/

    #about-us {
        display: flex;
    }

    #about-us div:first-child {
        width: calc(100% / 3*2)
    }


    #about-us div:last-child {
        width: calc(100% / 3)
    }
































}

/*chiusura media q*/